name: Environment Variables
on: push
jobs:
    run:
        runs-on: ubuntu-latest
        env:
            BRANCH: main
        steps:
            - run: echo "${BRANCH}"         # 環境変数BRANCHの値を表示
            - uses: actions/checkout@v4
              with:
                  ref: ${{ env.BRANCH }}   # 環境変数BRANCHを使ってチェックアウト